h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
    
  }
  
  button {
    background-color: 5BC0DE;
    color: #5BC0DE;
    cursor: pointer;
    
  }

  .form-login {
    width: 80%;
    padding: 10% 20px;
    margin: 0 auto;
  }

 .card{
    height: 10%;
    width: 80%;
    margin-left: 60.5%;
 }

 .form-control {
  line-height: 40%;
}

.imageContainer{
  max-width: 300px;
  max-height: 300px;
  margin-left: 15%;
}

.custom-toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Ajusta según sea necesario */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

