<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
      <h1 class="rol">Rol</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a class="asd" mat-list-item href="/jefetecnico">Menu Principal</a>
            <a class="asd" mat-list-item href="/modificarreporte-jefetecnico">Modificar Reporte</a>
            <a class="asd" mat-list-item href="/listar_estado">Listar Estados</a>
            <a class="asd" mat-list-item href="/crear-prioridad">Crear Prioridad</a>
            <a class="asd" mat-list-item href="/listar_prioridad">Listar Prioridades</a>
            <a class="asd" mat-list-item href="/crear_tipoAveria">Crear TipoAveria</a>
            <a class="asd" mat-list-item href="/listar_tipoAveria">Listar TiposAveria</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
            <h1 class="mt-5">Crear Estado</h1>
            <form [formGroup]="formularioEstado">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="titulo_informe" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="titulo_informe" name="titulo_informe" formControlName="tcNombreEstado" required>
                  </div>
                </div>
              </div>          
              <button type="submit" class="btn btn-danger" id="cancelar">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="registrarEdificio()" >Guardar</button>
            </form>
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>
