<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
      <h1 class="rol">Administrador Del Edificio</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="asd" mat-list-item href="/listar_edificio">Listar edificios</a>
          <a class="asd" mat-list-item href="/registrarEdificio">Crear edificio</a>
          <a class="asd" mat-list-item href="/listar_oficina">Listar oficinas</a>
          <a class="asd" mat-list-item href="/registrarOficina">Crear oficinas</a>
          <a class="asd" mat-list-item href="/eliminarOficina">Eliminar oficinas</a>
          <a class="asd" mat-list-item href="/actualizarOficina">Actualizar oficinas</a>
          <a class="asd" mat-list-item href="/crear-rol">Crear Rol</a>
          <a class="asd" mat-list-item href="/crearUsuario">Crear Usuario</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>
