<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>
  
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
    
      
      <h1 class="rol">
        <span id="rolElement">{{ rolValue }}</span>
      </h1>

      
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="asd" mat-list-item href="/jefetecnico">Menu Principal</a>
          <a class="asd" mat-list-item href="/crearEstado">Crear Estado</a>
          <a class="asd" mat-list-item href="/listar_estado">Listar Estados</a>
          <a class="asd" mat-list-item href="/crear-prioridad">Crear Prioridad</a>
          <a class="asd" mat-list-item href="/listar_prioridad">Listar Prioridades</a>
          <a class="asd" mat-list-item href="/crear_tipoAveria">Crear TipoAveria</a>
          <a class="asd" mat-list-item href="/listar_tipoAveria">Listar TiposAveria</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>

        <div>  
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opción 1
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Opción 2</a>
              <a class="dropdown-item" href="#">Opción 3</a>
              <a class="dropdown-item" href="#">Opción 4</a>
            </div>
          </div>
          <div class="mb-3">
            <label for="fecha_informe" class="form-label">Desde</label>
            <input type="date" class="fecha_informe" id="fecha_informe" name="fecha_informe" required>

            <label for="fecha_informe" class="form-label1">Hasta</label>
            <input type="date" class="fecha_informe" id="fecha_informe" name="fecha_informe" required>
            <button type="button" class="btn btn-primary" id="boton1">Buscar</button>
          </div>
        </div>

        <div class="container">
          <table class="table table-bordered" *ngFor="let Reporte of listaReportes">
            <thead>
              <tr>
                <th class="text-center">Descripción</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">{{Reporte.tcDescripcion}}</td>
                <td class="text-center">{{Reporte.tfFecha}}</td>
                <td class="text-center"><a (click)="editarReporte(Reporte.tnIdReporte)" href="/modificarreporte-jefetecnico"><img src="./assets/editar.png" alt="Imagen de la tarea"></a></td>
                <td class="text-center"><a href="/eliminarEdificio"><img src="./assets/eliminar.png" alt="Imagen de la tarea"></a></td>
            </tbody>
          </table>
        </div>
        <div class="">
          <button type="button" class="btn btn-primary" id="previous">Anterior</button>
          <button type="button" class="btn btn-primary" id="next">Siguiente</button>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>