<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button class="span" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
      <h1 class="rol">Secretaria</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="asd" mat-list-item href="/crear">Crear Reporte</a>
          <a class="asd" mat-list-item (click)="logout()">Cerrar Sesión</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <h2 class="table-title">Reportes</h2>
          <table class="table table-bordered" *ngFor="let Reporte of listaReportes">
            <thead>
              <tr>
                <th class="text-center">Identificador</th>
                <th class="text-center">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">{{ obtenerAnioDesdeFecha(Reporte.tfFecha)+ ' - '+Reporte.tnIdReporte }}</td>
                <td class="text-center">{{Reporte.tcDescripcion}}</td>
            </tbody>
          </table>
        </div>



      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>