.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  
  
  mat-sidenav{
    width: 30%;
    background-color: blue;
  }
  
  
  mat-toolbar{
    background-color: blue;
  }
  
  .app-name{
    color: white;
    font-size: x-large;
  }
  
  .rol{
    color: white;
    font-size: x-large;
    margin-left: 65%;
  }
  
  .asd{
    background-color: white;
  }

  body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    margin-top: 20px;
  }
  
  .mb-3 {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
  }
  
  textarea {
    resize: none;
  }
  
  .btn-primary {
    background-color: #007bff;
  }

  .btn-group{
    margin-top: 1%;
    margin-left: 28%;
  }

  #label1{
    margin-left: 0.2%;
  }

  #label2{
    margin-left: 0.2%;
  }

  #label3{
    margin-left: 0.2%;
  }

  #Button1{
    margin-left: 1%;
  }

  #Button2{
    margin-left: 2%;
  }

  #Button3{
    margin-left: 2%;
  }