<p>listar-oficinas works!</p>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
      <h1 class="rol">Rol</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="asd" mat-list-item href="/administradordeledificio">Menú principal</a>
          <a class="asd" mat-list-item href="/listar_edificio">Listar edificios</a>
          <a class="asd" mat-list-item href="/registrarEdificio">Crear Edificio</a>
          <a class="asd" mat-list-item href="/eliminarEdificio">Eliminar edificio</a>
          <a class="asd" mat-list-item href="/registrarOficina">Crear Oficina</a>
          <a class="asd" mat-list-item href="/eliminarOficina">Eliminar oficinas</a>
          <a class="asd" mat-list-item href="/actualizarOficina">Actualizar oficinas</a>
          <a class="asd" mat-list-item href="/crear-rol">Crear Rol</a>
          <a class="asd" mat-list-item href="/crearUsuario">Crear Usuario</a>
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <form action="/submit" method="post">
            <div class="form-group">
              <label for="Edificio">Edificio</label>
              <input type="text" class="form-control" id="name" name="Oficina" placeholder="Oficina">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        
          <div class="container">
            <table class="table table-bordered" *ngFor="let Oficina of listaOficinas">
              <thead>
                <tr>
                  <th class="text-center">Numero de piso</th>
                  <th class="text-center">Editar</th>
                  <th class="text-center">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">{{Oficina.tnNumeroPiso}}</td>
                  <td class="text-center"><a (click)="editarOficina(Oficina.tnIdOficina)" href="/actualizarOficina"><img src="./assets/editar.png" alt="Imagen de la tarea"></a></td>
                  <td class="text-center"><a href="#"><img src="./assets/eliminar.png" alt="Imagen de la tarea"></a></td>
              </tbody>
            </table>
          </div>

        <div class="">
          <button type="button" class="btn btn-primary" id="previous">Anterior</button>
          <button type="button" class="btn btn-primary" id="next">Siguiente</button>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>