<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>
  
  <div class="pro-container" [class.pro-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="mat-toolbar">
      <button class="span" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Reporte de Averías</h1>
      <h1 class="rol">Jefe técnico</h1>

      
    </mat-toolbar>
  
    <mat-sidenav-container class="pro-sidenav-container"[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a class="asd" mat-list-item href="/crearEstado">Crear Estado</a>
          <a class="asd" mat-list-item href="/listar_estado">Listar Estados</a>
          <a class="asd" mat-list-item href="/crear-prioridad">Crear Prioridad</a>
          <a class="asd" mat-list-item href="/listar_prioridad">Listar Prioridades</a>
          <a class="asd" mat-list-item href="/crear_tipoAveria">Crear TipoAveria</a>
          <a class="asd" mat-list-item href="/listar_tipoAveria">Listar TiposAveria</a>
          <a class="asd" mat-list-item href="/ver-reportesFinalizados">Reportes Finalizados</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <h2 class="table-title">Reportes</h2>
          <table class="table table-bordered" *ngFor="let Reporte of listaReportes">
            <thead>
              <tr>
                <th class="text-center">Descripción</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">{{Reporte.tcDescripcion}}</td>
                <td class="text-center">{{Reporte.tfFecha}}</td>
                <td class="text-center"><a (click)="editarReporte(Reporte.tnIdReporte)" href="/modificarreporte-jefetecnico"><img src="./assets/editar.png" alt="Imagen de la tarea"></a></td>
                <td class="text-center"><a (click)="eliminarReporte(Reporte.tnIdReporte)" href="/jefetecnico"><img src="./assets/eliminar.png" alt="Imagen de la tarea"></a></td>
            </tbody>
          </table>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>